registry=https://artifactory.worldbank.org/artifactory/api/npm/itsfe-fiara-npm-virtual/
always-auth=true
//artifactory.worldbank.org/artifactory/api/npm/itsfe-fiara-npm-virtual/:=true
//artifactory.worldbank.org/artifactory/api/npm/itsfe-fiara-npm-virtual/:_auth=aXRzZmUtZmlhcmEtamZyb2ctc3ZjOkZpYXJhQDEyMw==
